<section id="blog" class="container">
    <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>Preguntas Frecuentes</h2>
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <p>Si tienes algunas otra duda, puedes enviarnos un mensaje a nuestra casilla de mails en la sección 'Contacto'</p>
        </div>
    </div>

    <div class="blog">
        <div class="row">
             <div class="col-md-10">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-10 col-sm-2 text-center">
                         </div>      
                        <div class="col-xs-10 col-sm-10 blog-content">
                            <div id="accordion">
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Como es el proceso de compra?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><br><b>1) Me comunico con EJC Proyectos para coordinar entrevista al 098 906 651 – 4372 4329</b>
                                      <br><br><b>2) Primer entrevista:</b>
                                      <br>* Elijo el o los productos de acuerdo a mi necesidad.
                                        <br><br><b>3) Segunda entrevista:</b>
                                      <br>* Concurro con el personal de EJC para ver el lugar de la obra.
                                      <br>* Seño el proyecto (30% del monto total) y queda definida la fecha de entrega del proyecto.
                                      <br><br><b>4) Tercera entrevista:</b>
                                      <br>* Se definen los detalles del proyecto, de acuerdo a los gustos y necesidades del cliente. (Picos de luz, tomas
                                      corriente, revestimientos, aberturas, etc.)
                                      <br>* Segunda entrega del 40% para el comienzo de la fabricación..
                                      <br><br><b>5) EJC comienza el proceso de fabricación.</b>
                                      <br><br><b>6) EJC entrega el proyecto y se abona el saldo final 30%</b>
                                    </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingTwo">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Tienen financiación?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body">
                                    <p style="margin-bottom: 0px;"><b>Si, tenemos convenio con el Banco BBVA con tasas preferenciales para nuestros clientes.
                                      <br>Requisitos:</b></p>
                                      <p style="padding-left: 30px;">* Ingreso mínimo grupo familiar: (consultar en Banco)
                                      <br>* Antigüedad laboral:    	1 año trabajadores dependientes y profesionales; 3 años trabajadores independientes.
                                      <br>* Documento de identidad.
                                      <br>* Constancia de ingresos.
                                      <br>* Constancia de domicilio.
                                      <br>* No es necesario ser cliente del Banco BBVA.
                                      </p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingThree">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"style="color: #ED502E;"data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Construyen en todo el país?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Por obra civil nos concentramos en un radio no mayor a los 100 km de distancia (Punto cero Las Toscas)
                                      En caso de que sea con módulos que son construidos en taller  pueden ser trasladados con camión grúa a todo el país.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingFour">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      Cuanto demora la entrega?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Para la entrega hay que tener en cuenta dos factores:
                                      <br>1) El tiempo de construcción del proyecto, el cual puede calcularse a groso modo tomando como ejemplo 18 m2 en una semana de calendario.
                                      <br>2) La agenda de trabajo. Para esto último recomendamos consultar con el vendedor, para tener las fechas exactas de entrega del proyecto.
                                    </b></p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingFive">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Cuanto duran?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>La durabilidad es indefinida.
                                      <br>La estructura de piso es de acero galvanizado y de un espesor de 1.50 mm
                                      que asegura un excelente rendimiento ante la corrosión, y al paso del tiempo.
                                      Para los paneles que son utilizados para la construcción de paredes y techos
                                      existen casos comprobados que superan los 30 años, como la Base Artigas en la
                                      Antártida construida en 1984, que se encuentra a la exposición de las
                                      inclemencias del tiempo en condiciones extremas y hasta el día de hoy resulta
                                      sin alteraciones.</b>
                                    </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingSix">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                      Como es el piso?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>El piso es una estructura conformada con perfiles galvanizados U y C de Steel Framing generando una parrilla que da sustento a un fenólico plastificando de alta durabilidad o placa de fibrocemento, que aseguran una resistencia única, para posteriormente instalar la terminación final, que puede ser tanto, piso flotante, laminas vinílicas de alta resistencia, cerámica o porcelanato.
                                      En caso de ser una obra in Situ el piso es una cimentación tipo platea de 15 cm de espesor con una viga perimetral de 15cm x 30 cm,(hierro tratado 10 mm y estribos de 6 mm) malla lur de 4.2 y nylon de 200 micrones.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingSeven">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                      Donde se apoyan?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>En caso de ser  módulos pueden utilizar como cimiento, dados de hormigón de 40 x 40 x 60 cm., también postes de madera tratada o platea de hormigón, según requerimientos.
                                      En caso de ser in situ se compacta bien el terreno para luego empezar con la platea.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingEight">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                      De que son las paredes y el techo?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Están construidas con paneles de la empresa Bromyros S.A. IsoPanel (pared) e IsoDec (techo)
                                      Es un panel térmico y auto estructural de alta calidad, compuesto de dos láminas exteriores de chapa de acero de espesor 0.5 mm con un recubrimiento anticorrosivo de zinc, formando una protección catódica y una pintura de fondo primario, que actúa como base y finalmente una pintura poliéster de alto rendimiento. Esta última viene recubierta por un film de polietileno a manera de protección. ® El núcleo del Isopanel es de poliestireno ® expandido: Espumaplast de peso específico aparente tipo II (16-20 3 Kg/m ).El mismo está catalogado por la norma DIN 4102 como difícilmente inflamable, no presentando cambios físicos entre los – 150°C y los 90°C, momento en el que comienza a reducirse. El coeficiente de conductibilidad térmica es 0.035 W/ (mK). La resistencia a la compresión del núcleo de poliestireno expandido- con un 10% de recalcado- es de 0.11-0.16 N/mm2.
                                      Es sumamente higiénico siendo su mantenimiento prácticamente nulo. Gracias a su excelente aislación térmica colabora en el ahorro energético.
                                    </b></p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingNine">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseTen">
                                      Se puede pintar o revestir?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Si, acepta revestimientos varios, tanto revoques elásticos como placas siding simil madera y piedra o cerámica.</b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingTen">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                      Se pueden construir en dos niveles?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Si se pueden construir en dos niveles si el proyecto es in situ (en obra)
                                      <br>Se realiza una cimentación de hormigón y de ahí se construye la vivienda en iso panel a la altura necesaria (4.50 / 5.00 mts) para el proyecto y en el interior se colocan los entrepisos que requiera el mismo.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingEleven">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                      Puedo seguir ampliando a futuro?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Si claro, recomendamos prever en el diseño inicial la futura ampliación, para no afectar el funcionamiento de la construcción existente.
                                      <br>Como ser, pendientes de techo, ubicación de ventanas, instalaciones, etc. pueden dificultar la colocación.
                                      <br>Consultar con el vendedor de EJC.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingTwelve">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                      La hormiga daña el panel?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>La hormiga, es una plaga a la que no escapa ningún tipo de construcciones, tanto tradicional, madera, como prefabricado, en caso de encontrar indicios de estas, hay que tomar las precauciones del caso, fumigacion, veneno, etc, así como se hace con cualquier tipo de vivienda. (El sistema constructivo que nosotros trabajamos es 100 % sellado y en condiciones normales no permite el ingreso de ningún tipo de insecto) Como es de notorio conocimiento estos sistemas están cada vez más instalados en nuestro mercado, pero no todos saben cómo es el correcto armado y los requerimientos de los mismos, recomendamos siempre contratar empresas calificadas que cuenten con experiencia comprobable.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="heading13">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                      De que me tengo que hacer cargo yo?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>El cliente debe tener primero que nada, un terreno o lugar físico permitido para ubicar el proyecto que necesita.
                                      <br>Luego preparar la zona de llegada para permitir el acceso de maquinaria y trabajadores.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="heading14">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                      Tengo que pagar BPS o Leyes Sociales?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Como en toda obra que se quiera realizar bajo normativa es necesario el pago de aportes, estos disminuyen sensiblemente en este sistema constructivo ya que los tiempos de ejecución son muy pero muy rápidos y baja la carga de aportes y demás.
                                      <br>Igualmente todas estas tareas están detalladas en el formulario de presupuesto.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="heading15">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                      Se pueden instalar estufas a leña?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Perfectamente se pueden poner calefactores o estufas a leña.
                                      <br>Estos sistemas de calefacción se adaptan para construcciones prefabricadas (doble caño, cerámica en perímetro, etc.)
                                      <br>Igualmente, estos sistemas de calefacción los recomendamos para más de 40 m2 de proyecto.
                                      <br>Las unidades de aire acondicionado son las fuentes de frío y calor mas eficaces para nuestros productos (te permiten controlar fácilmente las temperaturas)
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="heading16">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                      Cuándo llueve hace ruido?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Efectivamente si se escucha la lluvia (el sonido disminuye o aumenta según la intensidad de la precipitación) se escucha mucho menos que en un techo de chapa y un poco más que en construcciones de planchada. Igualmente hoy por hoy en caso de que el sonido de la lluvia no le guste al cliente hay cielorrasos termo acústicos (de muy bajo costo) con lana de vidrio que disminuye sensiblemente el ruido. También existe la posibilidad de revestir la cubierta con teja americana que da una terminación estética y contribuye a bajar prácticamente en su totalidad la sonoridad.
                                    </b></p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="heading17">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                      Se puede colocar rejas?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>Si por supuesto contamos con un sistema de anclaje de marco y pre marco que las deja muy seguras y estéticas.
                                    </b></p>
                                  </div>
                                </div>
                              </div>

                            </div>
                        </div>
                    </div>    
                </div><!--/.blog-item-->
                    
<!--                <div class="blog-item">-->
<!--                    <div class="row">-->
<!--                         <div class="col-sm-2 text-center">-->
<!--                            &lt;!&ndash; <div class="entry-meta"> -->
<!--                                <span id="publish_date">05  APR</span>-->
<!--                                <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>-->
<!--                                <span><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>-->
<!--                                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>-->
<!--                            </div> &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="col-sm-10 blog-content">-->
<!--                            <h4>(*)En el paso 3 en caso de que el proyecto se ejecute con toda la normativa municipal y de BPS, se  pone en contacto también con el Arquitecto a cargo de la gestoría, firma etc.</h4>-->
<!--                        </div>-->
<!--                    </div>    -->
<!--                </div>&lt;!&ndash;/.blog-item&ndash;&gt;-->
            </div><!--/.col-md-8-->

            
        </div><!--/.row-->
    </div>
</section>
