<section id="blog" class="container">
    <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>FAQs</h2>                   
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <p>7 Pasos básicos y sencillos para comprar un producto de Alcubo</p>
        </div>
    </div>

    <div class="blog">
        <div class="row">
             <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center">
                        <!--     <div class="entry-meta">
                                <span id="publish_date">05  APR</span>
                                <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
                                <span><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>
                                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                            </div>  -->
                         </div>      
                        <div class="col-xs-12 col-sm-10 blog-content">
                            <div id="accordion">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Paso 1
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>Se contacta con el vendedor. (Emilio de León – 098 906 651 – 4372 4329)
                                        <br>Pide una entrevista informativa en las oficinas de EJC Proyectos
                                        <br>1º entrevista, el cliente solicita:
                                        <br>- información general del producto.
                                        <br>- Información puntual del producto que necesita.
                                        <br>- Costos, tiempo de ejecución y de entrega.
                                        <br>- Normativa municipal, aportes a BPS etc.
                                        <br><br>1º entrevista, el cliente proporciona:
                                        <br> - que está necesitando, comodidades, tipo de terminaciones, m2 etc.
                                        <br>- la mayor información posible del lugar a ejecutar el proyecto. (padrón,
                                        <br>manzana, solar. Localidad, retiros, dimensiones en m2, plano del mismo,orientación, etc.
                                    </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingTwo">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Paso 2
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>EJC Proyectos envía por mail proyecto primario PDF o DWG y formulario con los costos.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingThree">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"style="color: #ED502E;"data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Paso 3 (*)
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                  <div class="card-body">
                                    
                                    <p>2º entrevista in situ:
                                        <br>Viabilidad del proyecto.
                                        <br>EJC Proyectos visita el lugar y evalúa la viabilidad del proyecto, se verifica tamaño del terreno, retiros,
                                        orientación, nivel a la calle, accesibilidad etc.
                                        <br>Después de la visita, si es pertinente se ajustan detalles básicos del proyecto y se mandan nuevamente por
                                        mail con los costos y posible fecha de entrega.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingFour">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      Paso 4
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>Se seña el proyecto con el 30 % del importe final del presupuesto primario, en ese mismo             momento se
                                    agenda una fecha de entrega final.
                                    </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingFive">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Paso 5
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                  <div class="card-body">
                                        <p>Dependiendo del tamaño del proyecto, Ej. 48 m2 entre 30 y 45 días antes de la fecha de entrega estipulada
                                        se coordina la tercera entrevista (en nuestra oficina)
                                        <br><b>3º entrevista en oficinas de EJC:</b>
                                        <br>-Se ajustan detalles finales de terminación, revestimientos, etc.
                                        <br>-Es la última instancia de cambios, correcciones de planos, o modificaciones en el formulario de costos.
                                        <br>-En los casos que el cliente proporciona equipamiento Ej: mobiliario cocina, baño, revestimientos etc.
                                        <br>Estos artículos se tienen que dejar en la empresa en ésta tercera entrevista.
                                        <br>-Se deposita la segunda entrega. Que es del 40 % del importe final del formulario actualizado de costos. </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingSix">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                      Paso 6
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                  <div class="card-body">
                                    <p><b>EJC</b> envía por mail proyecto final PDF, DWG, formulario final con los costos donde figuran las dos
                                    Entregas anteriormente mencionadas. De esta forma el cliente tiene toda información actualizada y clara.</p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingSeven">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                      Paso 7
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>En la fecha de entrega estipulada, el cliente recibe las llaves, verifica que sea lo pactado en el formulario, expresa su conformidad y deposita el saldo final (30 %)
                                    </p>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- <a href="#"><img class="img-responsive img-blog" src="assets/images/blog/blog1.jpg" width="100%" alt="" /></a>
                            <h4>Consequat bibendum quam liquam viverra</h4>
                            <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</p>
                            <a class="btn btn-primary readmore" href="blog-item.html">Read More <i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>    
                </div><!--/.blog-item-->
                    
                <div class="blog-item">
                    <div class="row">
                         <div class="col-sm-2 text-center">
                            <!-- <div class="entry-meta"> 
                                <span id="publish_date">05  APR</span>
                                <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
                                <span><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>
                                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                            </div> -->
                        </div>
                        <div class="col-sm-10 blog-content">
                            <a href=""><img class="img-responsive img-blog" src="assets/images/blog/blog2.jpg" width="100%" alt="" /></a>
                            <h4>Consequat bibendum quam liquam viverra</h4>
                            <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</p>
                            <a class="btn btn-primary readmore" href="blog-item.html">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>    
                </div><!--/.blog-item-->
                    
                <ul class="pagination pagination-lg">
                    <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                </ul><!--/.pagination-->
            </div><!--/.col-md-8-->

            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                    </form>
                </div><!--/.search-->
                
                <div class="widget categories">
                    <h3>Recent Comments</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="single_comments">
                                <img src="assets/images/blog/avatar3.png" alt=""  />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                                <div class="entry-meta small muted">
                                    <span>By <a href="#">Alex</a></span> <span>On <a href="#">Creative</a></span>
                                </div>
                            </div>
                            <div class="single_comments">
                                <img src="assets/images/blog/avatar3.png" alt=""  />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                                <div class="entry-meta small muted">
                                    <span>By <a href="#">Alex</a></span> <span>On <a href="#">Creative</a></span>
                                </div>
                            </div>
                            <div class="single_comments">
                                <img src="assets/images/blog/avatar3.png" alt=""  />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                                <div class="entry-meta small muted">
                                    <span>By <a href="#">Alex</a></span> <span>On <a href="#">Creative</a></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>                     
                </div><!--/.recent comments-->
                 

                <div class="widget categories">
                    <h3>Categories</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="blog_category">
                                <li><a href="#">Computers <span class="badge">04</span></a></li>
                                <li><a href="#">Smartphone <span class="badge">10</span></a></li>
                                <li><a href="#">Gedgets <span class="badge">06</span></a></li>
                                <li><a href="#">Technology <span class="badge">25</span></a></li>
                            </ul>
                        </div>
                    </div>                     
                </div><!--/.categories-->
                
                <div class="widget archieve">
                    <h3>Archieve</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="blog_archieve">
                                <li>
                                    <a href="#"><i class="fa fa-angle-double-right"></i> December 2015 
                                        <span class="pull-right">(97)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-angle-double-right"></i> November 2015 
                                        <span class="pull-right">(32)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-angle-double-right"></i> October 2015 
                                        <span class="pull-right">(19)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-angle-double-right"></i> September 2015 
                                        <span class="pull-right">(08)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>                     
                </div><!--/.archieve-->
                
                <div class="widget tags">
                    <h3>Tag Cloud</h3>
                    <ul class="tag-cloud">
                        <li><a class="btn btn-xs btn-primary" href="#">Apple</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Barcelona</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Office</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Ipod</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Stock</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Race</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">London</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Football</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Porche</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Gadgets</a></li>
                    </ul>
                </div><!--/.tags-->
                
                <div class="widget blog_gallery">
                    <h3>Our Gallery</h3>
                    <ul class="sidebar-gallery">
                        <li><a href="#"><img src="assets/images/blog/gallery1.png" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/blog/gallery2.png" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/blog/gallery3.png" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/blog/gallery4.png" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/blog/gallery5.png" alt="" /></a></li>
                        <li><a href="#"><img src="assets/images/blog/gallery6.png" alt="" /></a></li>
                    </ul>
                </div><!--/.blog_gallery-->
            </aside>  
        </div><!--/.row-->
    </div>
</section>