
<div class="slider">
		<div class="img-responsive">
			<ul class="bxslider">
        <li><img src="assets/images/1.png" alt="" style="
    width: -webkit-fill-available; height: 432px ;"/></li>
				<li><img src="assets/images/2.png" alt="" style="
    width: -webkit-fill-available; height: 432px ;"/></li>
				<li><img src="assets/images/3.png" alt="" style="
    width: -webkit-fill-available; height: 432px ;"/></li>
			</ul>
		</div>	
    </div>


<div class="features">
  <div class="container">
    <div class="text-center">
      <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
        <h2>¿Qué es EJC Proyectos?</h2>
      </div>
      <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
        <p>Somos una empresa constructora que se dedica a la fabricación básicamente de viviendas con
          estructuras modulares en muchos de sus proyectos,  ensambla distintos componentes dentro de una cadena de
          montaje industrial o in situ, con la finalidad de construir módulos portables habitables que luego serán
          trasladados y/o ensamblados en la ubicación solicitada por nuestros clientes.<br>
          La arquitectura modular en nuestro país, ha tenido un gran desarrollado en estos últimos años, con distintos
          sistemas constructivos, en nuestro caso el IsoPanel  y Steel framing, son los métodos utilizados para la
          construcción de los módulos. Estos sistemas han demostrado un excelente rendimiento al paso del tiempo, por
          tanto muy buena durabilidad con un mantenimiento prácticamente nulo. Además de características que permiten
          un grado de confort alto debido a la muy buena aislación térmica, y por tanto también colabora con el ahorro energético.
        </p>
      </div>
    </div>
  </div>
</div>
	<div class="container">
		<div class="text-center">
<!--			<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">-->
<!--				<h3>El proceso de compra</h3>-->
<!--			</div>-->
			<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
				<h2>¿Por qué elegirnos?</h2>
			</div>
		</div>
	</div>
	
		<div class="box">
			<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.4s">
				<div class="col-sm-3">
					<i class="fas fa-medal fa-3x"></i>
					<h4 style="margin-bottom: 0px; padding: 0px;">Calidad</h4>
          <h6 style="color: #858585">Utilizada en los materiales, trabajando con proveedores de mucha trayectoria en nuestro
            país, esto hace que nuestras viviendas tengan un excelente acabado y una durabilidad indefinida.
          </h6>
				</div>
			</div>
			<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.8s">
				<div class="col-sm-3">
          <i class="fas fa-clock fa-3x"></i>
					<h4 style="margin-bottom: 0px; padding: 0px;">Rapidéz</h4>
          <h6 style="color: #858585">Ya que desde la definición de tu proyecto, lo estarás disfrutando en muy poco tiempo debido al trabajo de
            personal idóneo y capacitado.
          </h6>
				</div>
			</div>
			<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="1.2s">
				<div class="col-sm-3">
          <i class="fas fa-hand-holding-usd fa-3x"></i>
					<h4 style="margin-bottom: 0px; padding: 0px;">Precio</h4>
          <h6 style="color: #858585">La rápida ejecución de este tipo de sistema permite rebajar sustancialmente la carga de aportes y mano
            de obra,  esto concluye en una relación calidad precio inmejorable para la construcción de su proyecto.</h6>
				</div>
			</div>
			<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="1.6s">
				<div class="col-sm-3">
					<i class="fa fa-users fa-3x"></i>
					<h4 style="margin-bottom: 0px; padding: 0px;">Gente</h4>
          <h6 style="color: #858585">Tenemos un equipo altamente calificado y comprometido con su labor, que nos permite entregar nuestros
            proyectos con una calidad en terminaciones inigualable. Igualmente esto no quita que se esté supervisando
            minuciosamente cada paso de la obra.
          </h6>
				</div>
			</div>
		</div>

	
	<div class="container" style="margin-bottom: 50px;">
		<div class="col-lg-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.5s">
			<img src="assets/images/6.jpg" class="img-responsive">
		</div>
		
		<div class="col-lg-6 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
			<img src="assets/images/5.jpg" class="img-responsive">
		</div>
	</div>
	
<!--	<div class="main-feature">-->
<!--		<div class="container">-->
<!--			<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">-->
<!--				<div class="media">-->
<!--					<div class="media-left">					-->
<!--						<i class="fa fa-rocket fa-3x"></i>-->
<!--					</div>-->
<!--					-->
<!--					<div class="media-body">-->
<!--						<h4 class="media-heading">SEO Optimized</h4>-->
<!--						<p>Cras urna felis accumsan at ultricesid posuere masa um socisd natoque penatibus magnisd Lorem ipsum dolor sit ame onsectea dipe.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			-->
<!--			<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">-->
<!--				<div class="media">-->
<!--					<div class="media-left">					-->
<!--						<i class="fa fa-camera fa-3x"></i>-->
<!--					</div>-->
<!--					-->
<!--					<div class="media-body">-->
<!--						<h4 class="media-heading">Easy to Install</h4>-->
<!--						<p>Cras urna felis accumsan at ultricesid posuere masa um socisd natoque penatibus magnisd Lorem ipsum dolor sit ame onsectea dipe.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			-->
<!--			<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">-->
<!--				<div class="media">-->
<!--					<div class="media-left">					-->
<!--						<i class="fa fa-heart-o fa-3x"></i>-->
<!--					</div>-->
<!--					-->
<!--					<div class="media-body">-->
<!--						<h4 class="media-heading">Unlimited Possibilities</h4>-->
<!--						<p>Cras urna felis accumsan at ultricesid posuere masa um socisd natoque penatibus magnisd Lorem ipsum dolor sit ame onsectea dipe.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		-->
<!--		<div class="text-center">-->
<!--			<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">-->
<!--				<h2>¿Qué hacemos?</h2>-->
<!--			</div>-->
<!--			<div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="0.6s">-->
<!--				<p>EJC ejecuta proyectos  con los sistemas constructivos en IsoPanel, con estructura de piso en Steel Framing,-->
<!--          o cimentación en hormigón armado.</p>-->
<!--			</div>-->

<!--      <a routerLink="/obras" routerLinkActive="active"><button type="button" class="btn btn-default">Más información</button></a>-->
<!--		</div>	-->
<!--		-->
<!--	</div>-->
	
<!--	<div class="about-us">-->
<!--		<div class="container">-->
<!--			<div class="text-center">-->
<!--				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">-->
<!--					<h3>Quienes sómos?</h3>-->
<!--				</div>-->
<!--				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">-->
<!--					<h2>O podría ser: Los comentarios de nuestros compradores</h2>-->
<!--				</div>-->
<!--				<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">-->
<!--					<div class="col-md-3">-->
<!--						<img src="assets/images/about/man4.jpg" alt="" >-->
<!--						<h3>John Doe</h3>-->
<!--						<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				-->
<!--				<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s">-->
<!--					<div class="col-md-3">-->
<!--						<img src="assets/images/about/man2.jpg" alt="" >-->
<!--						<h3>John Doe</h3>-->
<!--						<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				-->
<!--				<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">-->
<!--					<div class="col-md-3">-->
<!--						<img src="assets/images/about/man3.jpg" alt="" >-->
<!--						<h3>John Doe</h3>-->
<!--						<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				-->
<!--				<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.6s">-->
<!--					<div class="col-md-3">-->
<!--						<img src="assets/images/about/man4.jpg" alt="" >-->
<!--						<h3>John Doe</h3>-->
<!--						<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>	-->
<!--		</div>-->
<!--	</div>-->
